python-dotenv
gunicorn
Flask
Flask-PyMongo
flask_cors
pymongo
certifi
cryptography
idna
Jinja2
MarkupSafe
requests
urllib3
pytz
requests_oauthlib
numpy
pillow
opencv-python
scikit-image
scikit-learn
scipy
spotipy
psutil
emoji
cairosvg
cairocffi
tinycss2
cssselect2
pycairo
Unidecode
discogs-client
pyfiglet
pymongo[srv]